---
---

$brand-primary:         #00b08e !default; // #337ab7

$body-bg:               #FFF;
$text-color:            lighten(#000, 30%) !default;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-family-sans-serif:  'Source Sans Pro', sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-size-base:          18px !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$headings-color:          $brand-primary !default;

$navbar-height:                    100px !default;
$navbar-border-radius:             0px !default;
$navbar-padding-horizontal:        100px !default;
$navbar-padding-vertical:          10px !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                lighten(#000, 30%) !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

$navbar-default-link-color:                #FFF !default;
$navbar-default-link-hover-color:          $brand-primary !default;
$navbar-default-link-hover-bg:             transparent !default;

$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

@import "bootstrap/bootstrap";

$fa-font-path: "../fonts" !default;
@import "font-awesome/font-awesome";

.posts {
  width: 66%;
}

.post {
  width: 66%;
}

hr.gi-hr {
  width: 33%;
  border: solid 2px darken(#FFF, 20%);
}

.jumbotron {
  .container {
    margin: auto;
    width: 66%;
  }
  margin: 0px;
}

.brand-bg {
  background-color: $brand-primary;
  color: #FFF;
}

.gray-bg {
  background-color: darken(#FFF, 20%);
}

.white-bg {
  background-color: #FFF;
}

.profile {
  img {
    width: 100%;
    border-radius: 50%;
    border: solid 4px #FFF;
  }
}

body {
  padding-top: 100px;
}

.navbar {
  padding: 10px 100px;

  li {
    font-size: 25px;
    padding: 30px 10px;
  }

  .navbar-right {
    margin: 0px;
  }

  img {
    height: 80px;
  }
}

footer {
  padding: 30px 0px;
  background-color: lighten(#000, 30%);
  color: lighten(#000, 60%);
  ul {
    list-style: none;
    padding-left: 0px;
  }
  .container {
    width: 66%;
  }
}

.post {
  padding: 40px 0px;
}

@media (max-width: $screen-md-min) {

  body {
    padding-top: 70px;
  }

  .navbar {
    padding: 5px 20px;
    min-height: 60px;

    .navbar-brand {
      height: 60px;
    }

    li {
      font-size: 20px;
      padding: 10px 10px;
    }


    button {
      margin-top: 12px;
      margin-bottom: 0px;
    }
    img {
      height: 40px;
    }
  }
}
