---
layout: default
---

<div class="jumbotron brand-bg">
  <div class="container">
    <h1>Digital delivery that feels good.</h1>
    <p>Life's too short not be excited about what you do. Working in digital should be engaging, rewarding and fun.</p>
  </div>
</div>

<div class="white-bg posts"  id="thought">
  <div class="container featured">
    <div class="row">
    {% for post in site.categories.featured %}
      <div class="col-md-12">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.summary }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
  <hr class="gi-hr"/>
  <div class="container front">
    <div class="row">
    {% for post in site.categories.front %}
      <div class="col-md-6">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.summary }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% include profile.html %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@steve_coppin" />
<meta name="twitter:title" content="Good Iterations}" />
<meta name="twitter:description" content="Life's too short not be excited about what you do. Working in digital should be engaging, rewarding and fun." />
<meta name="twitter:image" content="http://gooditerations.com/assets/img/logo-preview.png" />
