---
layout: default
---

<div class="row jumbotron brand-bg">
  <div class="snapline">
    <h2>Digital delivery that feels <span class="font-brand">good</span>.</h2>
    <h3>{{ site.description }}</h3>
  </div>
</div>

<div class="row services white-bg narrow"/>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="accent-bg service">
      <h2 class="title">What <br/><span class="font-brand">Good Iterations</span><br/> does best</h2>
    </div>
  </div>
  {% for service in site.data.services %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="brand-bg service">
      <h3>{{ service.title }}</h3>
      <p>{{ service.blurb }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row brand-bg narrow">
  <div class="profile">
    <div class="col-md-3">
        <h2>Founder</h2>
        <p>Quick note from the founder of Good Iterations.</p>
    </div>
    <div class="col-md-9">
      <img src="assets/img/{{ site.data.founder.image }}" alt="{{ site.data.founder.image-alt }}" />
      {% for note in site.data.founder.notes %}
        <p>{{ note }}</p>
      {% endfor %}
      <h3 class="font-brand">{{ site.data.founder.name }}</h3>
    </div>
  </div>
</div>

<div class="row white-bg narrow">
  <div class="references">
    <div class="col-md-3">
      <h2>Good vibes</h2>
      <p>Some really kind words from people we've worked with.</p>
    </div>
    <div class="col-md-9">
      {% for reference in site.data.references %}
      <div class="reference">
        <p>
          <i class="fa fa-quote-left"></i>
          {{ reference.note }}
          <i class="fa fa-quote-right"></i>
        </p>
        <p span class="name">
          {{ reference.name }}, {{ reference.title}}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row accent-bg narrow">
  <div class="mission">
    <div class="col-md-3">
      <h2>{{ site.data.mission.title }}</h2>
      <p>{{ site.data.mission.subtitle }}</p>
    </div>
    <div class="col-md-9">
        {% for note in site.data.mission.notes %}
          <p>{{ note }}</p>
        {% endfor %}
    </div>
  </div>
</div>

<div class="row posts white-bg narrow">
  <div class="col-md-3">
    <h2>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Thoughts
    </h2>
    <p>A selection of blog posts on various topics. Want me to talk to a particular problem? <a href="https://twitter.com/intent/tweet?text=Hey%20%40gooditerations%2C%20what%20are%20your%20thoughts%20on%20______%3F&amp;url=http://www.gooditerations.com">Drop me a note! <i class="fa fa-twitter-square" aria-hidden="true"></i></a></p>
  </div>
  <div class="col-md-9">
    <div class="post-teaser">
      <h3>
        <a class="post-link" target="_blank" href="https://medium.com/good-iterations/why-id-work-for-gareth-southgate-dde8bb4d800d">Why I'd work for Gareth Southgate</a>
      </h3>
      <span class="post-meta">
         July 11, 2018
      </span>
      <p>There was a lot in Gareth Southgate's pre-semi final interview on the BBC that I've heard outside of sport. How is it that a team with arguably less individual talent than teams of the past is doing so well this summer? Many of the same way tech teams are winning today.</p>
    </div>
    {% for post in site.posts %}
    <div class="post-teaser">
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <span class="post-meta">
         {{ post.date | date: "%b %-d, %Y" }}
      </span>
      <p>{{ post.summary }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<hr class="gi-hr"/>

<div class="row posts white-bg narrow">
  <div class="col-md-3">
    <h2>
      <i class="fa fa-book" aria-hidden="true"></i>
      Influences
    </h2>
      <p>Here are some works I've found really useful over the years. Know something I might find interesting? <a href="https://twitter.com/intent/tweet?text=Hey%20%40gooditerations%2C%20you%27ve%20got%20to%20read%20______.&amp;url=http://www.gooditerations.com">Send me a suggestion! <i class="fa fa-twitter-square" aria-hidden="true"></i></a></p>
  </div>
  <div class="col-md-9">
    {% for reading in site.data.readings %}
    <div class="post-teaser">
      <h3>
        {{ reading.title }}
      </h3>
      <span class="post-meta">
         {{ reading.author }}
      </span>
      <p>{{ reading.summary }}</p>
    </div>
    {% endfor %}
  </div>
</div>
