<footer>
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-6">
        <h3>Finding me</h3>
        <ul>
          <li><a href="http://twitter.com/steve_coppin"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</li></a>
          <li><a href="https://www.linkedin.com/in/steve-coppin-smith-b909362/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</li>
          <li><a href="https://plus.google.com/u/0/108312889963080091557"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google+</li></a>
          <li><a href="https://github.com/goodits"><i class="fa fa-github" aria-hidden="true"></i> GitHub</li></a>

        </ul>
      </div>
      <div class="col-md-6">
        <h3>Getting in touch</h3>
        <p>
          I love to hear case studies of teams who are kicking some ass and lend support to others who want to. If you'd like to share experiences please don't hesitate to get in touch!
        </p>
      </div>
    </div>
  </div>
</footer>
