<div class="row footer narrow" id="contact">
  <div class="col-md-6">
    <h3>Where to find us.</h3>
    <ul>
      <li><a href="http://twitter.com/gooditerations"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</li></a>
      <li><a href="https://www.linkedin.com/in/steve-coppin-smith-b909362/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</li>
      <li><a href="https://plus.google.com/u/0/1000150004443519850117"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google+</li></a>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Getting in touch.</h3>
    <p>
      Good Iterations collaborates in person across London and the South East of England, but if you're further afield let's still chat. As happy to chat over a hangout as over a coffee. Would love to hear from you.
    </p>
  </div>
  <div class="col-md-12 footnote">
    © 2018 | Good Iterations Ltd is a company registered in England and Wales. Registered number: 11444322.
    Registered office: 10 St Nicholas Close, CT2 0NT
  </div>
</div>
