<div class="row footer narrow" id="contact">
  <div class="col-md-6">
    <h3>Where to find us</h3>
    <ul>
      <li><a href="http://twitter.com/gooditerations" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/steve-coppin-smith-b909362/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Our availability</h3>
    <p>
      Good Iterations collaborates in person across London and the South East of England, but if you're further afield let's still chat. As happy to chat over a hangout as over a coffee. Would love to hear from you.
    </p>
  </div>
  <div class="col-md-12 footnote">
    © 2018 | Good Iterations Ltd is a company registered in England and Wales. Registered number: 11444322.
    Registered office: 10 St Nicholas Close, CT2 0NT
  </div>
</div>
