<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="/assets/img/logo.svg">
            <h1>Good Iterations</h1>
          </a>
          <button class="btn btn-primary navbar-right" data-toggle="modal" data-target="#myModal">Get started</button>
        </div>
    </nav>
</header>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Our availability</h2>
        <p>
          Good Iterations collaborates in person across London and the South East of England, but if you're further afield let's still chat. As happy to chat over a hangout as over a coffee. Would love to hear from you.
        </p>
        <h2>Where to find us</h2>
        <ul>
          <li><a href="http://twitter.com/gooditerations" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/steve-coppin-smith-b909362/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
